<h1>Candidates#index</h1>
<div class="flash-notice">
  <%= flash[:notice] %>
</div>
<table class="cadidate-lists">
  <tr class="list-title">
    <th>Name</th>
    <th>Party</th>
    <th>Action</th>
  </tr>
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= link_to candidate.name , candidate_path(candidate)  %></td>
      <td><%= candidate.party %></td>
      <td><%= link_to 'Edit', edit_candidate_path(candidate) %>/delete</td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add Candidate' , new_candidate_path %>
