<h1>Candidates#index</h1>
<%= include_gon %>
<div class="flash-notice">
  <%= flash[:notice] %>
  <%= flash[:error] %>
  <%= flash[:alert] %>
</div>
<table class="cadidate-lists">
  <tr class="list-title">
    <th>Name</th>
    <th>Party</th>
    <th>Action</th>
  </tr>
  <% @candidates.each do |candidate| %>
    <tr>
      <td><%= link_to candidate.name , candidate_path(candidate)  %></td>
      <td><%= candidate.party %></td>
      <td><%= link_to 'Edit', edit_candidate_path(candidate) %>/<%= link_to 'Delete', candidate_path(candidate.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add Candidate' , new_candidate_path %>