<div class="show-candidate">
  <div class="name">
    <%= @candidate.name %>
  </div>
  <div class="age">
    <%= @candidate.age %>
  </div>
  <div class="party">
    <%= @candidate.party %>
  </div>
  <div class="politics">
    <%= @candidate.politics %>
  </div>
</div>
  <%= link_to 'Back', candidates_path %>
